* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    #hero-msg h1 {
        color: #6f7364;
    }

    .home-title {
        font-size: 25px;
    }

    .rivers-card, .camping-card, .rapids-card {
        margin: 50% auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 150px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

nav {
    display:flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #25291C;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #25291C;
    background-color: #E8B9AB;
    text-decoration: underline;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-image {
    display: block;
    width: 100%;
    height: auto;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #D6EFFF;
}



#hero-box {
    position: relative;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.button-box {
    text-align: center;
    margin-top: 20px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: #87D68D;
}

body {
    background-color: #D6EFFF;
    font-family: Pathway Gothic One, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    display:grid;
    grid-template-columns: 150px auto;
    background-color: #E8B9AB;
}

.home-title {
    color: #25291C;
    font-family: Trocchi, Garamond, serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #25291C;
}

.book, .join {
    background-color: #E8B9AB;
    color: #25291C;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #D6EFFF;
    color: #25291C;
    text-decoration: underline;
}

.card-img {
    border: 10px solid #25291C;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.mountains {
    grid-column: 2/7;
    grid-row: 4/9;
    box-shadow: 5px 5px 10px #6f7364;
    width: 150%;
    margin-top: 35px;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}



.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.msg {
    background-color: #87D68D;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/11;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;;
}

.msg h2 {
    color: #25291C;
    font-family: Trocchi, Garamond, serif;
}

.msg p {
    color: #25291C;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #D6EFFF;
    color: #25291C;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #25291C;
    text-decoration: none;
}

footer a:hover {
    color: #25291C;
    text-decoration: underline;
}

footer p {
    font-size: 1.2em;
}
footer .social img {
    padding-top: 15px;
}






