body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: gray;
}

header {
    background-color: #222;
    color: #fff;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-weight: 400;
}
main {
    display: grid;
    grid-template-columns: .1fr .1fr 1fr .1fr;
    margin-top: 20px;
}
hr {
    width: 100%;
    grid-column: 1 / 5;
}
h2 {
    grid-column: 2/3;
}

#blue {
    background: blue;
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
}

#white {
    background: white;
    grid-column: 2 / 4;
}

#red {
    background: red;
    grid-column: 1 / 4;
}

#chile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
}

.star {
    width: 70px;
    aspect-ratio: 1;
    background: white;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
}

#denmark {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
    background-color: white;
    
}

#dred1 {
    background: red;
    grid-column: 1/2;
    margin-bottom: 1em;
}

#dred2 {
    background: red;
    grid-column: 2/3;
    margin-left: 2em;
    margin-bottom: 1em;
}

#dred3 {
    background: red;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 1em;
}

#dred4 {
    background: red;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 2em;
    margin-top: 1em;
}

#finland {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: blue;
    height: 200px;
    width: 300px;
}

#fwhite1 {
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 1.25em;
}

#fwhite2 {
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 2.5em;
    margin-bottom: 1.25em;
}

#fwhite3 {
    background-color: white;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 1.25em;
}

#fwhite4 {
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 1.25em;
    margin-left: 2.5em;
}

#benin {
    display: grid;
    height: 200px;
    width: 300px;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

#bred {
    background:red;
    grid-column: 1/2;
    grid-row: 1/3;    
}

#byellow {
    background: yellow;
    grid-column: 2/3;
    grid-row: 1/2
}

#bgreen {
    background: green;
    grid-column: 2/3;
    grid-row: 2/3;
}

#italy {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 300px;
}

#igreen {
    background: green;
    grid-column: 1/2;
}

#iwhite {
    background: white;
    grid-column: 2/3;
}

#ired {
    background: rgba(255, 0, 0, 0.719);
    grid-column: 3/4;
}

#car {
    background: rgba(255, 0, 0, 0.719);
    display: grid;
    height: 200px;
    width: 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#cblue1 {
    background: blue;
    grid-column: 1/2;
    margin-right: 1.5em;
    grid-row: 1/2;
    display: grid;
    align-items: center;
    justify-content: center;
}

#cstar {
    width: 50px;
    aspect-ratio: 1;
    background: yellow;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
}

#cgreen1 {
    background: green;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-right: 1.5em;
}

#cwhite1 {
    background: white;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 1.5em;
}

#cyellow1 {
    background: yellow;
    grid-column: 1/2;
    grid-row: 4/5;
    margin-right: 1.5em;
}

#cblue2 {
    background: blue;
    grid-column: 2/3;
    margin-left: 1.5em;
    grid-row: 1/2;
}

#cgreen2 {
    background: green;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 1.5em;
}

#cwhite2 {
    background: white;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 1.5em;
}

#cyellow2 {
    background: yellow;
    grid-column: 2/3;
    grid-row: 4/5;
    margin-left: 1.5em;
}